.btn {
    background-color: $medium;
    border: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    outline: 0;
    padding: 20px 72px;
    text-transform: uppercase;
    transition: background-color $ease-duration $ease;
    -webkit-appearance: none;
    @include font-sans();
    @include text-bold();
    }
.btn--dark {
    background-color: $medium-dark;
    }
.btn--light {
    color: $light;
    }
.btn--cta {
    background-color: transparent;
    color: $medium-dark;
    padding: 0;
    }
.btn--nav {
    background-color: transparent;
    color: $medium-dark;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 0;
    @include text-black();
    }
.btn--navmenu {
    background-color: transparent;
    color: $medium-dark;
    opacity: 0;
    margin-top: -($icon-size / 2);
    padding: 0;
    position: absolute;
    top: 50%;
    transition: opacity $ease-duration $ease,
                visibility $ease-duration $ease;
    visibility: hidden;
    }
.btn--menu,
.btn--grid {
    left: $navbar-padding;
    }
.btn--mco {
    left: 50%;
    margin-left: -($icon-size / 2);
    }
.btn--exit {
    left: $navbar-padding;
    margin-top: 0;
    opacity: 1;
    position: fixed;
    top: $navbar-padding;
    visibility: visible;
    }



// Tablet
@media only screen and ( max-width: $break-tablet-medium ) {
    .btn--menu {
        opacity: 1;
        visibility: visible;
        }
}



// Mobile
@media only screen and ( max-width: $break-mobile-full ) {
    .btn--navmenu {
        margin-top: 0;
        top: $mobile-padding;
        }
    .btn--menu {
        left: $mobile-padding;
        }
    .btn--exit {
        left: $mobile-padding;
        }
    .btn--mco {
        letter-spacing: normal;
        opacity: 1;
        visibility: visible;
        }
    .nav__a--home {
        opacity: 0;
        visibility: hidden;
        }
}