// Icon
/*
@font-face {
    font-family: $icon-font;
    src: url("/assets/fonts/icon/#{$icon-font}.eot?#{$icon-uuid}");
    src: url("/assets/fonts/icon/#{$icon-font}.eot?#iefix#{$icon-uuid}") format("embedded-opentype"),
         url("/assets/fonts/icon/#{$icon-font}.ttf?#{$icon-uuid}") format("truetype"),
         url("/assets/fonts/icon/#{$icon-font}.woff?#{$icon-uuid}") format("woff"),
         url("/assets/fonts/icon/#{$icon-font}.svg?#{$icon-uuid}#maekan") format("svg");
    font-weight: normal;
    font-style: normal;
}
*/



// Project