.icon {
    color: inherit;
    display: inline-block;
    font-family: $icon-font;
    font-size: $icon-size;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }



.icon--brand:before {
    content: "\e600";
    }
.icon--cart:before {
    content: "\e601";
    }
.icon--exit:before {
    content: "\e602";
    }
.icon--mark:before {
    content: "\e603";
    }
.icon--menu:before {
    content: "\e604";
    }
