.image {
    width: 100%;
    }
.image--square {
    padding-bottom: 100%;
    }
.image--cinema {
    padding-bottom: 56.25%;
    }



// Covers
.cover {
    background-color: $grey;
    height: 100vh;
    position: relative;
    width: 100%;
    }
.cover__image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    }
.cover__text {
    text-align: center;
    width: 100%;
    }