.image {
    width: 100%;
    }
.image--square {
    padding-bottom: 100%;
    }
.image--portrait {
    padding-bottom: 150.834879%
    }
.image--landscape {
    padding-bottom: 66.2337662%;
    }
.image--cinema {
    padding-bottom: 56.25%;
    }