// Sans-serif text
@mixin font-sans() {
    font-family: $font-sans;
    font-stretch: normal;
    font-style: normal;
}
@mixin sqs-hack-font-sans() {
    font-family: $font-sans !important;
    font-stretch: normal !important;
    font-style: normal !important;
}



// Serif text
@mixin font-serif() {
    font-family: $font-serif;
    font-stretch: normal;
    font-style: normal;
}



// Text regular weights/styles
@mixin text-regular() {
    font-weight: 400;
}
@mixin text-medium() {
    font-weight: 500;
}
@mixin text-bold() {
    font-weight: 700;
}
@mixin sqs-hack-text-bold() {
    font-weight: 700 !important;
}
@mixin text-black() {
    font-weight: 900;
}
@mixin sqs-hack-text-black() {
    font-weight: 900 !important;
}
@mixin text-italic() {
    font-style: italic;
}



// Animations
@mixin ani-lift-block() {
    transition: transform $anim-duration $ease,
                opacity $anim-duration $ease;

    &.is-below {
        opacity: 0;
        transform: translate3d( 0, 100px, 0 );
        }

    &.is-above {
        opacity: 0;
        transform: translate3d( 0, -100px, 0 );
        }

    &.is-entering {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }

    &.is-leaving-top {
        opacity: 0;
        transform: translate3d( 0, -100px, 0 );
        }

    &.is-leaving-bottom {
        opacity: 0;
        transform: translate3d( 0, 100px, 0 );
        }
}