.nav {
    font-family: $font-sans;
    letter-spacing: 1.5px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    }
.nav__ul {
    font-size: 0;
    }
.nav__li {
    display: inline-block;
    }
.nav__li {
    &:first-child .nav__a {
        margin-left: 0;
        }
    &:last-child .nav__a {
        margin-right: 0;
        }
    }
.nav__a {
    color: $medium-dark;
    display: inline-block;
    font-size: 12px;
    margin: 0 15px;
    text-decoration: none;
    transition: opacity $ease-duration $soft-ease,
                visibility $ease-duration $soft-ease;
    @include font-sans();
    @include text-black();
    }
.nav__a--home {
    border: 2px solid;
    padding: 14px 16px 13px;
    }



.navbar {
    left: 0;
    padding-top: $navbar-padding;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_10;
    }



.navmenu {
    text-align: center;
    }
.navmenu__li {
    opacity: 0;
    transform: translate3d( 0, ($grid-padding / 2), 0 );
    transition: opacity $anim-duration $soft-ease,
                transform $anim-duration $soft-ease;
    }
.navmenu__li:nth-child(1) {
    transition-delay: 0;
    }
.navmenu__li:nth-child(2) {
    transition-delay: 50ms;
    }
.navmenu__li:nth-child(3) {
    transition-delay: 150ms;
    }
.navmenu__li:nth-child(4) {
    transition-delay: 200ms;
    }
.navmenu__a {
    color: $medium-dark;
    display: block;
    margin-bottom: $navbar-padding;
    }



.footerbar {
    background-color: $dark;
    padding: ($navbar-padding * 2) ;

    .nav__a {
        color: $white;
        }
    }



// Tablet
@media only screen and ( max-width: $break-tablet-full ) {
    .navbar .nav__a:not(.nav__a--home) {
        opacity: 0;
        visibility: hidden;
        }
}

@media only screen and ( max-width: $break-tablet-small ) {
    .navmenu__a {
        margin-bottom: 30px;
        }
}



// Mobile
@media only screen and ( max-width: $break-mobile-full ) {
    .navmenu__a {
        margin-bottom: $mobile-padding;
        }

    .footerbar .nav__li {
        display: block;
        margin: 0;
        padding: 0;

        &:last-child .nav__a {
            margin-bottom: 0;
            }
        }
    .footerbar .nav__a {
        margin: 0 0 $mobile-padding 0;
        padding: 0;
        }
    .nav__a--mco {
        display: none;
        }
}