.nav {
    font-family: $font-sans;
    padding: 100px;
    text-align: center;
    text-transform: uppercase;
    }
.nav__ul {
    font-size: 0;
    }
.nav__li {
    display: inline-block;
    }
.nav__a {
    color: $dark;
    font-size: 12px;
    padding: 0 15px;
    text-decoration: none;
    @include font-sans();
    @include text-black();
    }



.footerbar {
    background-color: $dark;

    .nav__a {
        color: $white;
        }
    }