.page {
    padding-top: /* $page-padding */0;
    position: relative;
    transition: opacity $ease-duration $soft-ease,
                transform $ease-duration $soft-ease;

    &.is-reactive {
        transform: translate3d( 0, 100px, 0 );
        }
    &.is-inactive {
        opacity: 0;
        }
    }