.products__headline {
    display: none;
    }
.cover + .products .products__headline {
    display: block;
    }
.cover + .products .products__headline {
    padding-bottom: 0;
    }
.product + .products .products__headline {
    display: none;
    }
.product {
    font-size: 0;
    height: 100vh;
    margin-top: -$navbar-height;
    min-height: $break-tablet-small;
    position: relative;
    width: 100vw;
    }
.product__image,
.product__utility {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    }
.product__utility {
    max-width: 480px;
    }
.product__title {
    line-height: 1.16666667;
    margin-bottom: 24px;
    }
.product__info {
    margin-bottom: 24px;
    }
.product__meta {
    margin-bottom: 24px;
    }
.product__checkout {
    max-width: 250px;
    }

.product__inc,
.product__dec {
    background-color: $white;
    bottom: 1px;
    color: $medium-dark;
    cursor: pointer;
    line-height: 58px;
    position: absolute;
    text-align: center;
    top: 1px;
    user-select: none;
    width: 58px;
    }
.product__dec {
    border-right: 1px solid $border;
    left: 1px;
    }
.product__inc {
    border-left: 1px solid $border;
    right: 1px;
    }

.product__labels {
    margin-bottom: 24px;
    }

.product__nav {
    color: $medium-dark;
    position: absolute;
    top: calc( ~"50% - (#{$icon-size} / 2)" );
    }
.product__prev {
    left: 0;
    padding-left: $navbar-padding;
    }
.product__next {
    padding-right: $navbar-padding;
    right: 0;
    }



// Tablet
@media only screen and ( max-width: $break-tablet-full ) {
    .product {
        min-height: 0;
        padding-top: 70px;
        height: auto;
        }
    .product + .products {
        margin-top: 70px;
        }
    .product__image,
    .product__utility {
        display: block;
        width: 100%;
        }
    .product__utility {
        margin-top: -70px;
        max-width: 100%;
        text-align: center;
        }
    .product__utility__inner {
        display: inline-block;
        width: 480px;
        }
    .product__title {
        display: none;
        }
    .product__checkout {
        display: inline-block;
        max-width: none;
        width: 340px;
        }
    .product__meta {
        margin-bottom: 30px;
        }
}



// Mobile
@media only screen and ( max-width: $break-mobile-full ) {
    .product__desc {
        padding: 0;

        .p {
            display: inline-block;
            width: 340px;
            }
        }
    .product__utility {
        margin-top: 0;
        }
    .product__utility__inner {
        width: 100%;
        }
    .product__checkout {
        padding: 0 $mobile-padding;
        width: 100%;
        }
}

@media only screen and ( max-width: 340px ) {
    .product__desc {
        .p {
            padding: 0 $mobile-padding;
            width: 100%;
            }
        }
    .product__checkout {
        width: 100%;
        }
}