.product {
    font-size: 0;
    height: 100vh;
    min-height: $break-tablet-small;
    width: 100vw;
    }
.product__image,
.product__utility {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    }
.product__utility {
    max-width: 480px;
    }
.product__title {
    margin-bottom: 24px;
    max-width: 265px;
    }
.product__desc {
    margin-bottom: 24px;
    }
.product__price {
    margin-bottom: 24px;
    }
.product__checkout {
    max-width: 250px;
    }

.product__inc,
.product__dec {
    background-color: $white;
    bottom: 1px;
    color: $medium-dark;
    cursor: pointer;
    line-height: 58px;
    position: absolute;
    text-align: center;
    top: 1px;
    user-select: none;
    width: 58px;
    }
.product__dec {
    border-right: 1px solid $border;
    left: 1px;
    }
.product__inc {
    border-left: 1px solid $border;
    right: 1px;
    }



// Mobile
@media only screen and ( max-width: $break-mobile-full ) {
    .product {
        min-height: 0;
        padding-top: $grid-padding;
        height: auto;
        }
    .product__image,
    .product__utility {
        display: block;
        width: 100%;
        }
    .product__utility {
        max-width: 100%;
        text-align: center;
        }
    .product__title,
    .product__checkout {
        max-width: 100%;
        }
    .product__title,
    .product__desc {
        padding: 0 ($mobile-padding * 2);
        }
}