// Screens
.screen {
    background-color: $white;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    transition: opacity $fast-duration $soft-ease,
                visibility $fast-duration $soft-ease;
    z-index: $z_layer_infront;
    -webkit-overflow-scrolling: touch;

    &.is-active {
        opacity: 1;
        visibility: visible;
        }
    }
.screen * {
    pointer-events: none;
    }
.screen__interact {
    pointer-events: auto;
    }
.screen__wrap {
    height: 100%;
    }
.screen__exit {
    cursor: pointer;
    position: absolute;
    right: $navbar-padding / 2;
    top: $navbar-padding / 2;
    }