.h6, h6,
.h5, h5,
.h4, h4,
.h3, h3,
.h2, h2,
.h1, h1 {
    letter-spacing: 1.25px;
    text-transform: uppercase;
    }



.h1, h1 {
    font-size: 48px;
    @include font-sans();
    @include text-regular();
    }
.h2, h2 {
    font-size: 36px;
    @include font-sans();
    @include text-regular();
    }
.h3, h3 {
    font-size: 24px;
    @include font-sans();
    @include text-medium();

    & + p {
        margin-top: 26px;
        }
    }
.h4, h4, .h4 p {
    font-size: 21px;
    @include font-sans();
    @include text-medium();
    }
.h5, h5 {
    font-size: 12px;
    @include font-sans();
    @include text-bold();
    }



.p, p {
    font-size: 18px;
    line-height: 1.55555556;
    @include font-serif();
    @include text-regular();
    
    }
.a, .p a, p a {
    border-bottom: 1px solid $light;
    color: $light;
    @include font-serif();
    @include text-regular();
    }



// Tablet
@media only screen and ( max-width: $break-tablet-medium ) {
    .h1, h1 {
        font-size: 36px;
        }
    .h2, h2 {
        font-size: 32px;
        }
    .h3, h3 {
        font-size: 21px;
        }
    .h4, h4, .h4 p {
        font-size: 18px;
        }

    .p, p {
        font-size: 16px;
        line-height: 24 / 16;
        }
}



// Mobile
@media only screen and ( max-width: $break-tablet-small ) {
    .h1, h1 {
        font-size: 32px;
        }
    .h2, h2 {
        font-size: 24px;
        @include text-medium();
        }

    .p, p {
        font-size: 14px;
        line-height: 1.5;
        }
}