.h3, h3,
.h2, h2,
.h1, h1 {
    letter-spacing: 1.25px;
    text-transform: uppercase;
    //@include block-size();
    }



.h1, h1 {
    font-size: 24px;
    @include font-sans();
    @include text-medium();
    }
.h1--plus {
    font-size: 32px;
    @include text-regular();
    }
.h2, h2 {
    font-size: 21px;
    line-height: 1.6;
    @include font-sans();
    @include text-medium();
    }
.h3, h3, .h3 p {
    font-size: 12px;
    line-height: 1.5;
    @include font-sans();
    @include text-black();

/*
    & + p {
        margin-top: 26px;
        }
*/
    }



.p, p, .ul, ul {
    font-size: 18px;
    line-height: 1.55555556;
    @include font-serif();
    @include text-regular();
    }
.a, .p a, p a, .ul a, ul a {
    color: $light;
    transition: color $ease-duration $ease,
                border-color $ease-duration $ease;
    @include font-serif();
    @include text-regular();
    }



// Tablet
@media only screen and ( max-width: $break-laptop-full ) {
    .p, p, .ul, ul {
        font-size: 16px;
        line-height: 1.5;
        }

    .h1, h1 {
        font-size: 21px;
        }
    .h1--plus {
        font-size: 24px;
        @include text-medium();
        }
    .h2, h2 {
        font-size: 18px;
        }
}