// Fonts
$font-sans: "brandon-grotesque", Sans-serif;
$font-serif: "garamond-premier-pro", Serif;
$icon-font: "midnight-collective";
$icon-uuid: "izj3pt";
$icon-size: 34px;



// Colors
$black: #000;
$white: #fff;
$grey: #e6e6e6;
$dark: #262733;
$medium-dark: #32344d;
$medium: #4d4d66;
$light: #6e6c80;
$border: rgba( 110, 108, 128, 0.2 );



// Grid
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



// Sizes
$grid-padding: 280px;
$grid-padding-laptop: 84px;
$grid-gutter: 16px;
$navbar-padding: 40px;
$mobile-padding: 20px;
$page-padding: 340px;



// Font sizes
$title-size: 32px;
$title-size-big: 46px;
$title-size-serif: 30px;
$meta-size: 18px;
$mobile-title-size: 21px;



// Breakpoints
$break-laptop-medium: 1440px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



// Animations
$cubic-bezier-linear: cubic-bezier( 0, 0, 1, 1 );
$cubic-bezier-ease: cubic-bezier( .25, .1, .25, 1 );
$cubic-bezier-ease-in: cubic-bezier( .42, 0, 1, 1 );
$cubic-bezier-ease-out: cubic-bezier( 0, 0, .58, 1 );
$cubic-bezier-ease-in-out: cubic-bezier( .42, 0, .58, 1 );
$cubic-ease: cubic-bezier( 0.77, 0, 0.175, 1 );
$anim-duration: 1000ms;
$ease-duration: 600ms;
$midi-duration: 400ms;
$fast-duration: 200ms;
$soft-ease: ease;



// Z-Layers
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;