.views {
    position: relative;
    }

.views__nav {
    
    }
.views__nav__li {
    border-bottom: 2px solid transparent;
    line-height: 1.3;
    margin-right: 20px;
    transition: border-color $ease-duration $ease;

    &.is-active {
        border-bottom: 2px solid $medium-dark;
        }
    }


.views__box {
    position: relative;
    transition: height $ease-duration $ease;
    }
.views__box__item {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $ease-duration $ease;
    width: 100%;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        position: relative;
        z-index: $z_layer_01;
        }
    &.is-exiting {
        opacity: 0;
        position: relative;
        z-index: $z_layer_01;
        }
    &.is-entering {
        opacity: 1;
        z-index: ($z_layer_01 - 1);
        }
    }