.image {
    width: 100%;
    }
.image--square {
    padding-bottom: 100%;
    }
.image--cinema {
    padding-bottom: 56.25%;
    }



// Covers
.cover {
    height: 100vh;
    position: relative;
    width: 100%;
    }
.cover--tease {
    height: 80vh;
    }
.cover--pull {
    margin-top: -$navbar-height;
    }
.cover__image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    }
.cover__text {
    position: relative;
    text-align: center;
    width: 100%;
    }



// Articles
.article {
    .image--portrait {
        width: 70%;
        }
}



// Figures
.figure {
    margin: $navbar-padding 0;
    text-align: center;
    }
.figure__image {
    display: inline-block;
    }



// Tablet
@media only screen and ( max-width: $break-tablet-medium ) {
    .cover--tease {
        height: 70vh;
        }
}