.page {
    padding-top: $navbar-height;
    position: relative;
    transition: opacity $anim-duration $ease-in;

    &.is-reactive {
        transition-timing-function: $ease-out;
        }
    &.is-inactive {
        opacity: 0;
        }
    }