/******************************************************************************
 * Layout Engine Overrides
*******************************************************************************/
.sqs-block {
    padding: 0 !important;
    }
.sqs-layout > .sqs-row {
    margin: 0 !important;
    }
.sqs-block-content {
    p,
    h1,
    h2,
    h3 {
        @include block-size();
        }
    h3 + p,
    h2 + p,
    h3 + p {
        margin-top: ($mobile-padding / 2);
        }
    p + p {
        margin-top: ($navbar-padding / 2);
        }
}
.sqs-block-spacer .sqs-block-content {
    height: 70px !important;
}
.sqs-block-image .sqs-block-content {
    padding: $grid-padding 0;
    }

.page > .sqs-layout {
    padding: $grid-padding;
    }



/******************************************************************************
 * Squarespace Block Animation
*******************************************************************************/
.sqs-block-content {
    @include ani-lift-block();
    }



/******************************************************************************
 * Show Cart Page
*******************************************************************************/
#sqs-shopping-cart-wrapper {
    margin-top: -$navbar-height;
    position: relative;
    }
.sqs-fullpage-shopping-cart-content .cart-container {
    font-size: 0 !important;
    padding: $cart-padding $grid-padding !important;
    }
.sqs-fullpage-shopping-cart-content > h2 {
    display: none !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .item img {
    margin-right: 0 !important;
    width: 142px !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc a {
    color: $medium !important;
    font-size: 18px !important;
    line-height: 1.55555556 !important;
    @include sqs-hack-font-serif();
    @include sqs-hack-text-regular();
    }
.sqs-fullpage-shopping-cart-content .cart-container table thead {
    display: none !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr,
.sqs-fullpage-shopping-cart-content .cart-container table tr td {
    padding: 0 !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr td {
    border-bottom-color: $border !important;
    }
.sqs-fullpage-shopping-cart-content .checkout .checkout-button {
    background-color: $medium !important;
    border: 0 !important;
    color: $white !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 14px !important;
    line-height: 1 !important;
    margin: 0 !important;
    outline: 0 !important;
    padding: $mobile-padding 72px !important;
    transition: background-color $ease-duration $ease !important;
    text-transform: uppercase !important;
    width: auto !important;
    -webkit-appearance: none !important;
    @include sqs-hack-font-sans();
    @include sqs-hack-text-bold();
    }
.sqs-fullpage-shopping-cart-content .checkout,
.sqs-fullpage-shopping-cart-content .cart-container .subtotal {
    border: 0 !important;
    display: inline-block !important;
    float: none !important;
    padding: 0 !important;
    width: 50% !important;
    }
.sqs-fullpage-shopping-cart-content .checkout {
    text-align: right !important;
    padding: 70px 0 !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container .subtotal {
    color: $medium;
    letter-spacing: 1.5px;
    padding-left: 142px !important;
    text-align: left !important;
    font-size: 18px !important;
    text-transform: uppercase !important;
    @include sqs-hack-font-sans();
    @include sqs-hack-text-medium();
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .quantity input,
.sqs-fullpage-shopping-cart-content .cart-container table tr .price .sqs-money-native,
.sqs-fullpage-shopping-cart-content .cart-container table tr .quantity:before {
    color: $medium-dark !important;
    display: inline-block !important;
    font-size: 12px !important;
    margin: 0 !important;
    text-decoration: none !important;
    letter-spacing: 1.5px !important;
    @include sqs-hack-font-sans();
    @include sqs-hack-text-black();
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .quantity input {
    text-align: center !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 0 0 10px !important;
    border-radius: 0 !important;
    float: none !important;
    -webkit-appearance: none !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .quantity {
    &:before {
        content: "QTY ";
        }
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .remove {
    font-size: 0 !important;
    height: $icon-size !important;
    text-align: left !important;
    }
.sqs-fullpage-shopping-cart-content .cart-container table tr .remove .remove-item {
    color: $medium-dark !important;
    float: none !important;
    opacity: 1 !important;
    margin: 0 !important;

    &:before {
        color: $medium-dark !important;
        content: "\e609";
        display: inline-block !important;
        font-family: $icon-font !important;
        font-size: $icon-size !important;
        font-style: normal !important;
        font-variant: normal !important;
        font-weight: normal !important;
        line-height: 1 !important;
        speak: none !important;
        text-transform: none !important;
        transform: rotate(90deg) !important;
        vertical-align: middle !important;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        }
    }
.sqs-fullpage-shopping-cart-content {
    min-height: 100vh !important;
    position: relative !important;
    width: 100% !important;
    }
.sqs-fullpage-shopping-cart-content.empty .empty-message {
    color: $medium !important;
    font-size: 18px !important;
    line-height: 1.55555556 !important;
    text-align: center !important;
    padding: $cart-padding $grid-padding !important;
    @include sqs-hack-font-serif();
    @include sqs-hack-text-regular();

    a {
        color: $medium-dark !important;
        display: block !important;
        font-size: 12px !important;
        margin: 0 !important;
        text-decoration: none !important;
        letter-spacing: 1.5px !important;
        text-transform: uppercase !important;
        padding-top: $mobile-padding !important;
        @include sqs-hack-font-sans();
        @include sqs-hack-text-black();
        }
    }

.sqs-fullpage-shopping-cart-content .cart-container table tr .quantity,
.sqs-fullpage-shopping-cart-content .cart-container table tr .price,
.sqs-fullpage-shopping-cart-content .cart-container table tr .price {
    line-height: 1 !important;
    }

/*
.sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc .variant-info {
    }
*/


/******************************************************************************
 * Add To Cart Button
*******************************************************************************/
.sqs-add-to-cart-button {
    background-color: $medium-dark !important;
    border: 0 !important;
    color: $white !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 14px !important;
    line-height: 1 !important;
    margin-top: 24px !important;
    outline: 0 !important;
    padding: $mobile-padding 72px !important;
    transition: background-color $ease-duration $ease !important;
    text-transform: uppercase !important;
    width: 100% !important;
    -webkit-appearance: none !important;
    @include sqs-hack-font-sans();
    @include sqs-hack-text-bold();
    }
.sqs-add-to-cart-button * {
    display: inline-block !important;
    }
.sqs-add-to-cart-button .sqs-spin {
    display: none !important;
    }
.sqs-add-to-cart-button div + div {
    margin-left: $mobile-padding !important;
    }
.sqs-add-to-cart-button-inner {
    display: block !important;
    letter-spacing: 1px !important;
    }
.quantity-label {
    display: none !important;
    }

.is-hoverable {
    .sqs-add-to-cart-button:hover {
        background-color: $medium !important;
        }
}


// Price / weight
.sqs-money-native:before {
    content: "$" !important;
    }



/******************************************************************************
 * Quantity Input
*******************************************************************************/
.product-quantity-input {
    position: relative !important;
    }
.product-quantity-input input {
    background-color: $white !important;
    border: 1px solid $border !important;
    border-radius: 0 !important;
    color: $medium-dark !important;
    display: inline-block !important;
    font-size: 14px !important;
    height: 60px !important;
    line-height: 1 !important;
    outline: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    width: 100% !important;
    -webkit-appearance: none !important;
    @include sqs-hack-font-sans();
    @include sqs-hack-text-bold();
    }
input::-webkit-inner-spin-button {
    display: none !important;
    }



/******************************************************************************
 * Absolute Cart Box
*******************************************************************************/
.absolute-cart-box {
    bottom: auto !important;
    left: auto !important;
    margin-top: -11px;
    opacity: 0;
    position: absolute !important;
    right: $navbar-padding !important;
    top: 50% !important;
    transition: opacity $anim-duration $ease-duration;

    &.is-active {
        opacity: 1;
        }
    }
.sqs-pill-shopping-cart {
    width: auto !important;
    }
.sqs-pill-shopping-cart-content {
    background-color: transparent !important;
    background-image: none !important;
    border: 2px solid $medium-dark !important;
    border-radius: 50% !important;
    box-shadow: none !important;
    color: $medium-dark !important;
    font-size: 0 !important;
    height: 22px !important;
    line-height: 26px !important;
    min-width: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    width: 22px !important;

    .icon,
    .suffix ,
    .subtotal {
        display: none !important;
        }

    .details {
        font-size: 0 !important;
        }

    .total-quantity {
        font-size: 11px !important;
        @include sqs-hack-font-sans();
        @include sqs-hack-text-black();
        }
    }



// Tablet
@media only screen and ( max-width: $break-tablet-medium ) {
    .sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc a {
        font-size: 16px !important;
        line-height: 24 / 16 !important;
        }
}


// 700px: Arbitrary breakpoint that Squarespace uses ?
@media only screen and ( max-width: 700px ) {
    #sqs-shopping-cart-wrapper {
        margin-top: 0 !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container {
        padding: $grid-padding !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .item {
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .item-image img {
        max-width: none !important;
        width: 70% !important;
        }

    .sqs-fullpage-shopping-cart-content .checkout,
    .sqs-fullpage-shopping-cart-content .cart-container .subtotal {
        text-align: center !important;
        width: 100% !important;
        }

    .sqs-fullpage-shopping-cart-content .checkout {
        padding: 0 !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container .subtotal {
        padding: 72px 0 !important;
        }



    // block layout mode
    .sqs-fullpage-shopping-cart-content .cart-container table tr td {
        border: 0 !important;
        display: block !important;
        max-width: none !important;
        text-align: center !important;
        width: 100% !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .quantity,
    .sqs-fullpage-shopping-cart-content .cart-container table tr .price {
        display: inline-block !important;
        padding: $mobile-padding $mobile-padding ($mobile-padding * 2) !important;
        vertical-align: middle !important;
        width: 50% !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc a {
        display: block !important;
        padding: $mobile-padding !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .price {
        text-align: left !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .quantity {
        text-align: right !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr {
        border-bottom: 1px solid $border;
        }
    .sqs-fullpage-shopping-cart-content .checkout .checkout-button {
        width: 100% !important;
        }
    .sqs-fullpage-shopping-cart-content .cart-container table tr .remove {
        display: none !important;
        }



    // Shopping cart McHack
    .sqs-pill-shopping-cart {
        bottom: auto !important;
        left: auto !important;
        position: static !important;
        top: auto !important;
        }
}



// Mobile
@media only screen and ( max-width: $break-mobile-full ) {
    .absolute-cart-box {
        margin-top: 0 !important;
        right: $mobile-padding !important;
        top: ($mobile-padding + (($icon-size / 2) - ($cart-size / 2))) !important;
        }

    .sqs-block-content,
    .sqs-block-content.is-below,
    .sqs-block-content.is-above,
    .sqs-block-content.is-leaving-top,
    .sqs-block-content.is-leaving-bottom {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
}



@media only screen and ( max-width: $break-tablet-small ) {
    .sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc a {
        font-size: 14px !important;
        line-height: 1.5 !important;
        }
}