// Fonts
$font-sans: "brandon-grotesque", Sans-serif;
//$font-serif: "garamond-premier-pro", Serif;
$font-serif: "Nocturno Regular 30", Serif;
$icon-font: "midnight-collective";
$icon-uuid: "9pkql0";
$icon-size: 34px;



// Colors
$black: #000;
$white: #fff;
$grey: #e6e6e6;
$dark: #262733;
$medium-dark: #32344d;
$medium: #4d4d66;
$light: #6e6c80;
$border: rgba( 110, 108, 128, 0.2 );



// Grid
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



// Sizes
$grid-padding: 7.14285714%;
$grid-item-padding: 3.57142857%;
$grid-gutter: 16px;
$navbar-padding: 40px;
$mobile-padding: 20px;
$cart-padding: 280px;
$navbar-height: 83px;
$cart-size: 22px;
$logo-size: 49px;
$block-size: 630px;



// Font sizes
$title-size: 32px;
$title-size-big: 46px;
$title-size-serif: 30px;
$meta-size: 18px;
$mobile-title-size: 21px;



// Breakpoints
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



// Animations
$anim-duration: 600ms;
$ease-duration: 600ms;
$midi-duration: 400ms;
$fast-duration: 200ms;
$ease: ease;
$ease-in: ease-in;
$ease-out: ease-out;
$ease-in-out: ease-in-out;



// Z-Layers
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;