/******************************************************************************
 * Document Scroll
*******************************************************************************/
.is-clipped {
    overflow: hidden;
}

.is-scrolling {
    pointer-events: none;
}



/******************************************************************************
 * Covers
*******************************************************************************/
.is-cover-page {
    .page {
        padding-top: 0;
        }
}



/******************************************************************************
 * Navbar
*******************************************************************************/
.is-navmenu-open {
    // Mimic screen.is-active
    .navmenu {
        opacity: 1;
        visibility: visible;
        }
    .navmenu__li {
        opacity: 1;
        transform: translate3d( 0, 0, 0 ) !important;
        }
}



/******************************************************************************
 * Products
*******************************************************************************/
.is-product-detail,
.is-article-detail {
    .btn--grid {
        opacity: 1;
        visibility: visible;
        }
    .btn--menu {
        opacity: 0;
        visibility: hidden;
        }
}